<section class='price-card'>
    <mat-card style="background-color: #013781;">
        <form #fPriceCard="ngForm" (ngSubmit)="submitFormPriceCard(fPriceCard)">
            <div class="total-quote">
                <h4 class='title'>{{ 'Your Total Quote' }}</h4>

                <!-- form input hiddens -->
                <input type="hidden" name="cardNumber" [(ngModel)]="formList.cardNumber" #cardNumber="ngModel" minlength="16" required />
                <input type="hidden" name="expirationDate" [(ngModel)]="formList.expirationDate" #expirationDate="ngModel" required />
                <input type="hidden" name="cvCode" [(ngModel)]="formList.cvCode" #cvCode="ngModel" minlength="4" required />
                <!-- end form input hiddens -->
                <h3 class="price">EGP {{ totalPrice }}</h3>
                <button *ngIf="!isLoading" type="submit" mat-button class="button-quote" [disabled]="fPriceCard.invalid || isDisabled"> {{ isDisabled ? 'Paid' : 'PAY' }} </button>
                <div *ngIf="isLoading" fxLayoutAlign="center center">
                    <mat-spinner></mat-spinner>
                </div>
            </div>
        </form>

    </mat-card>
</section>