<mat-card>
    <h2 class="special-title">Please fill out the form below</h2>

    <form #fInfo="ngForm" (ngSubmit)="submitPersonalInfo(fInfo)">

        <mat-grid-list cols="3" rowHeight="88px" gutterSize="10px">
            <mat-grid-tile>
                <mat-form-field appearance="outline" class='form-field'>
                    <mat-label> First Name</mat-label>
                    <input matInput type="text" name="firstName" ngModel #firstName="ngModel" required>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline" class='form-field'>
                    <mat-label> Middle Name</mat-label>
                    <input matInput type="text" name="middleName" ngModel #middleName="ngModel" required>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline" class='form-field'>
                    <mat-label> Last Name</mat-label>
                    <input matInput type="text" name="lastName" ngModel #lastName="ngModel" required>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="2" rowHeight="88px" gutterSize="10px">
            <mat-grid-tile>
                <mat-form-field appearance="outline" class='form-field'>
                    <mat-label>Gender</mat-label>
                    <mat-select name="gender" ngModel #gender="ngModel" required>
                        <mat-option value="male">
                            Male
                        </mat-option>
                        <mat-option value="female">
                            Female
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline" class='form-field'>
                    <mat-label> {{ 'Date Of Birth' | uppercase }}</mat-label>
                    <input type="text" matInput [matDatepicker]="agePicker" (focus)="agePicker.open()" #inputAge placeholder="Date Of Birth" [max]="minDate" ngModel name="indAge" [(ngModel)]="date" #indAge="ngModel" required>
                    <mat-datepicker-toggle matSuffix [for]="agePicker"></mat-datepicker-toggle>
                    <mat-datepicker (closed)="inputAge.blur()" #agePicker></mat-datepicker>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline" class='form-field'>
                    <mat-label> Email Address</mat-label>
                    <input matInput placeholder="Email" name="emailAddress" ngModel #emailAddress="ngModel" required email (blur)="checkMail()">
                    <mat-error *ngIf="emailAddress.hasError('required')">Email is <strong>required</strong></mat-error>
                    <p *ngIf="mail === false" class="custom-error">Please enter a valid email address</p>                
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                    <mat-form-field appearance="outline" class='form-field'>
                        <mat-label> Phone Number</mat-label>
                        <input matInput type="tel" name="phoneNumber" ngModel #phoneNumber="ngModel" required>
                    </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline" class='form-field'>
                    <mat-label> National ID Number</mat-label>
                    <input matInput type="number" name="id" ngModel #id="ngModel" required (blur)="checkId()">
                    <p *ngIf="cid === false" class="custom-error">ID is not matching date of birth</p>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline" class='form-field'>
                    <mat-label> Enter Your Address</mat-label>
                    <input matInput type="text" name="address" ngModel #address="ngModel" required>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    <button type="submit" mat-button class='button-quote' [disabled]="fInfo.invalid || mail !== true || cid !== true">{{ 'complete purchase' | uppercase }} <mat-icon>arrow_right_alt</mat-icon></button>
    </form>
</mat-card>