<mat-card>
    <h2 class="special-title">{{ 'results_info.title3' | translate }}</h2>
    <!-- <input type="button" value="Pay with Lightbox" (click)="onPay()" /> -->

    <form #fInfo="ngForm" (ngSubmit)="submitTravelerInfo(fInfo)">
        <mat-radio-group color="success" aria-label="Select an option" color="primary" name="national" [(ngModel)]="national" #typeInput="ngModel" (change)="showField($event)" required>
            <mat-radio-button value="egyptian">{{ 'traveler.egypt' | translate }}</mat-radio-button>
            <mat-radio-button value="non">{{ 'traveler.non_egypt' | translate }}</mat-radio-button>
        </mat-radio-group>
        <mat-grid-list cols="3" rowHeight="88px" gutterSize="10px">
            <mat-grid-tile>
                <mat-form-field appearance="outline" class='form-field'>
                    <mat-label> {{ 'results_info.firstName' | translate }}</mat-label>
                    <input matInput type="text" name="firstName" ngModel #firstName="ngModel" pattern="[a-zA-Z ]*" required>
                    <mat-error *ngIf="firstName.hasError('pattern')">Name Must Be In <strong>English</strong></mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline" class='form-field'>
                    <mat-label> {{ 'results_info.middleName' | translate }}</mat-label>
                    <input matInput type="text" name="middleName" ngModel #middleName="ngModel" pattern="[a-zA-Z ]*" required>
                    <mat-error *ngIf="middleName.hasError('pattern')">Name Must Be In <strong>English</strong></mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline" class='form-field'>
                    <mat-label> {{ 'results_info.lastName' | translate }}</mat-label>
                    <input matInput type="text" name="lastName" ngModel #lastName="ngModel" pattern="[a-zA-Z ]*" required>
                    <mat-error *ngIf="lastName.hasError('pattern')">Name Must Be In <strong>English</strong></mat-error>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="2" rowHeight="88px" gutterSize="10px">
            <mat-grid-tile>
                <mat-form-field appearance="outline" class='form-field'>
                    <mat-label>{{ 'results_info.gender' | translate }}</mat-label>
                    <mat-select name="gender" ngModel #gender="ngModel" required>
                        <mat-option value="M">
                            {{ 'results_info.male' | translate }}
                        </mat-option>
                        <mat-option value="F">
                            {{ 'results_info.female' | translate }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline" class='form-field'>
                    <mat-label>{{ 'traveler.dob' | translate }}</mat-label>
                    <input *ngIf="indi" matInput type="text" name="dateBirth" [matDatepicker]="dateBirthPicker" ngModel [(ngModel)]="date" #dateBirth="ngModel" required>
                    <input *ngIf="!indi" matInput type="text" name="dateBirth" [matDatepicker]="dateBirthPicker" ngModel [(ngModel)]="datesList['date-0']" #dateBirth="ngModel" required>
                    <mat-datepicker-toggle matSuffix [for]="dateBirthPicker"></mat-datepicker-toggle>
                    <mat-datepicker #dateBirthPicker [startAt]="dataJson?.dates['date-0']"></mat-datepicker>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>

                <mat-form-field appearance="outline" class='form-field'>
                    <mat-label> {{ 'results_info.email' | translate }}</mat-label>
                    <input matInput placeholder="Email" name="emailAddress" ngModel #emailAddress="ngModel" required email>
                    <mat-error *ngIf="emailAddress.hasError('required')">Email is <strong>required</strong></mat-error>
                    <!-- <p *ngIf="mail === false" class="custom-error">Please enter a valid email address</p> -->
                </mat-form-field>

            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline" class='form-field'>
                    <mat-label> {{ 'results_info.phone' | translate }}</mat-label>
                    <input matInput type="tel" name="phoneNumber" ngModel #phoneNumber="ngModel" required>
                </mat-form-field>


            </mat-grid-tile>


            <mat-grid-tile *ngIf="isEgyptian === true" hintLabel="Should It Be 14 number">
                <mat-form-field appearance="outline" class='form-field'>
                    <mat-label> {{ 'results_info.id' | translate }}</mat-label>

                    <input matInput name="id" ngModel minlength="14" maxlength="14" #id="ngModel" (blur)="checkId()">


                    <p *ngIf="cid === false" class="custom-error">{{ 'results_info.id_alert' | translate }}</p>
                    <p *ngIf="cid && id.errors?.minlength" class="custom-error">{{ 'results_info.id_alert2' | translate }}</p>
                </mat-form-field>

            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline" class='form-field'>
                    <mat-label> {{ 'results_info.passport' | translate }}</mat-label>
                    <input matInput type="text" name="Passport" maxlength="14" ngModel #Passport="ngModel" required>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="isEgyptian === false">
                <mat-form-field appearance="outline" class='form-field'>
                    <mat-label> {{ 'results_info.enter_address' | translate }}</mat-label>
                    <input matInput type="text" name="address" ngModel #address="ngModel" required>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list *ngIf="isEgyptian === true" cols="1" rowHeight="88px" gutterSize="10px">
            <mat-grid-tile>
                <mat-form-field appearance="outline" class='form-field'>
                    <mat-label> {{ 'results_info.enter_address' | translate }}</mat-label>
                    <input matInput type="text" name="address" ngModel #address="ngModel" required>
                </mat-form-field>
            </mat-grid-tile>

        </mat-grid-list>

        <div ngModelGroup="additionalTravelers" #additionalTravelers="ngModelGroup" *ngIf="numOfTravelers.length > 1">

            <section class="additional-travelers">
                <h2 class="title">{{ 'results_info.additional_traveler' | translate }}</h2>

                <ng-container *ngFor="let traveler of numOfTravelers | slice:1; let i = index">
                    <div class="typeSection">

                        <h2 class="title">{{ 'results_info.traveler' | translate }} {{i+1}}</h2>
                        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1%">
                            <div fxFlex="33.33333%">
                                <mat-form-field appearance="outline" class='form-field'>
                                    <mat-label> {{ 'results_info.firstName' | translate }}</mat-label>
                                    <input matInput type="text" name="tfirstName{{traveler}}" ngModel #tfirstName="ngModel" pattern="[a-zA-Z ]*" required>
                                    <mat-error *ngIf="tfirstName.hasError('pattern')">Name Must Be In <strong>English</strong></mat-error>
                                </mat-form-field>



                            </div>
                            <div fxFlex="33.33333%">
                                <mat-form-field appearance="outline" class='form-field'>
                                    <mat-label> {{ 'results_info.middleName' | translate }}</mat-label>
                                    <input matInput type="text" name="tmiddleName{{traveler}}" ngModel #tmiddleName="ngModel" pattern="[a-zA-Z ]*" required>
                                    <mat-error *ngIf="tmiddleName.hasError('pattern')">Name Must Be In <strong>English</strong></mat-error>
                                </mat-form-field>



                            </div>

                            <div fxFlex="33.33333%">
                                <mat-form-field appearance="outline" class='form-field'>
                                    <mat-label>{{ 'results_info.lastName' | translate }}</mat-label>
                                    <input matInput type="text" name="tlastName{{traveler}}" ngModel #tlastName="ngModel" pattern="[a-zA-Z ]*" required>
                                    <mat-error *ngIf="tlastName.hasError('pattern')">Name Must Be In <strong>English</strong></mat-error>
                                </mat-form-field>


                            </div>
                        </div>
                        <!-- end div.flexLayout -->

                        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1%">
                            <div fxFlex="33.33333%">
                                <div class="form-group" *ngIf="typesList['type-'+traveler] == 'kid'">
                                    <mat-form-field appearance="outline" class='form-field'>
                                        <mat-label> {{ 'results_info.dob' | translate }}</mat-label>
                                        <input matInput type="text" [min]="minDateKid" [max]="maxDateKid" [matDatepicker]="birthDatePicker" name="tbirthDate{{traveler}}" [(ngModel)]="datesList['date-'+traveler]" #tbirthDate="ngModel">
                                        <mat-datepicker-toggle matSuffix [for]="birthDatePicker" onkeydown="return false"></mat-datepicker-toggle>
                                        <mat-datepicker [startAt]="datesList['date-'+traveler]" #birthDatePicker onkeydown="return false"></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <!-- end form-group -->
                                <div class="form-group" *ngIf="typesList['type-'+traveler] == 'spouse'">
                                    <mat-form-field appearance="outline" class='form-field'>
                                        <mat-label> {{ 'results_info.dob' | translate }}</mat-label>
                                        <input matInput type="text" [matDatepicker]="birthDatePicker" [max]="maxDateKid" name="tbirthDate{{traveler}}" [(ngModel)]="datesList['date-'+traveler]" #tbirthDate="ngModel">
                                        <mat-datepicker-toggle matSuffix [for]="birthDatePicker" onkeydown="return false"></mat-datepicker-toggle>
                                        <mat-datepicker [startAt]="datesList['date-'+traveler]" #birthDatePicker onkeydown="return false"></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <!-- end form-group -->
                            </div>
                            <div fxFlex="33.33333%">
                                <mat-form-field appearance="outline">
                                    <mat-label>{{ 'results_info.type' | translate }}</mat-label>
                                    <mat-select name="type{{traveler}}" class="selectOptionType" [(ngModel)]="typesList['type-'+traveler]" #type="ngModel">
                                        <mat-option *ngFor="let type of types" [value]="type.value">
                                            {{type.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex="33.33333%">
                                <mat-form-field appearance="outline">
                                    <mat-label>{{ 'results_info.gender' | translate }}</mat-label>
                                    <mat-select name="tgender{{traveler}}" class="selectOptionType" ngModel #tgender="ngModel">
                                        <mat-option value="M">
                                            {{ 'results_info.male' | translate }}
                                        </mat-option>
                                        <mat-option value="F">
                                            {{ 'results_info.female' | translate }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <!-- end form-group -->


                        </div>
                        <!-- end div.flexLayout -->
                        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1%">



                            <div fxFlex="50%">
                                <mat-form-field appearance="outline" class='form-field'>
                                    <mat-label> {{ 'results_info.id' | translate }}</mat-label>
                                    <input matInput type="number" name="tid{{traveler}}" ngModel #tid="ngModel" required>
                                </mat-form-field>
                            </div>
                            <div fxFlex="50%">
                                <mat-form-field appearance="outline" class='form-field'>
                                    <mat-label> {{ 'results_info.passport' | translate }}</mat-label>
                                    <input matInput type="text" name="tpassport{{traveler}}" ngModel #tpassport="ngModel" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- end div.flexLayout -->
                    </div>
                </ng-container>




            </section>

        </div>

        <mat-checkbox ngModel #checkbox name="terms" [checked]="isConfrim" (change)="isConfrim = !isConfrim" color="primary"> {{ 'results_info.alert2' | translate }} <a href="http://207.154.195.214/TravelWording.pdf" download target="_blank">{{ 'results_info.terms' | translate }}</a></mat-checkbox>
        <br> <br>
        <button style="" *ngIf="lang =='en'" type="submit" mat-button class='button-quote' [disabled]="fInfo.invalid || isConfrim !== true || cid !== true">{{ 'results_info.complate' | translate }} <mat-icon>arrow_right_alt</mat-icon></button>
        <button style="direction: rtl;" *ngIf="lang =='ar'" type="submit" mat-button class='button-quote' [disabled]="fInfo.invalid || isConfrim !== true || cid !== true">{{ 'results_info.complate' | translate }} <mat-icon>arrow_left_alt</mat-icon></button>
    </form>
</mat-card>